/*

light-white: #F1F6F9
gray: #9BA4B5
light-blue: #394866
blue: #212A3E

*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

body {
    background-color: #394867;
    font-family: 'JetBrains Mono', monospace;

    font-weight: 700;
}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 99vh;
}

.content {
    border: 1px solid red;
    
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
    height: 60%;
    
}

h1 {
    font-size: 60px;
    font-weight: 800;

    color: #F1F6F9;
}

h2 {
    font-size: 36px;
    font-weight: bold;

    color: #9BA4B5;
}

.box {
    display: flex;
    gap: 25px;
    min-width: 100%;
    height: 500px;

    /*Removing scrollbar visuals*/
    -ms-overflow-style: none; /*IExplorer*/
    scrollbar-width: none; /* Firefox */
}


.box::-webkit-scrollbar {
    display: none; /*Safari and chrome*/
}

.section {
    display: flex;
    flex-direction: column;
    
    min-width: 200px;
    height: 100%;

    background-color: red;
}

.options
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    

    height: 100%;
    
    row-gap: 20px;
    margin-top: 15px;
}

a {
    padding: 10px 0px;
    width: 100%;

    font-size: 28px;
    color: #212A3E;
    text-decoration: none;
}

a:hover {
    background-color: #F1F6F9;
    color: #9BA4B5;
    ;
}

/* Fazer com que o width da section acompanhe o overflow do options.
E depois disso acho que ta pronto ja! ;D
*/